body{
    min-width: 960px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    text-transform: uppercase;
}
h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    margin-bottom:35px;
    margin-top:0;
}
.index-main{
    background: #000 url(../img/bg-body.jpg) center top no-repeat;
    padding-top: 60px;
    padding-bottom: 65px;
}

.main-header{
    background-color: #000000;
    color: #ffffff;
}

.container{
    width:940px;
    padding: 0 10px;
    margin:0 auto;
}

.main-navigation{
    float: left;
    width: 600px;
}
.main-navigation ul{
    margin:0;
    padding:0;
    list-style: none;
    font-size:0;
}
.main-navigation ul li{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height:20px;
}
.main-navigation ul li a{
    color: white;
    text-decoration: none;
    padding: 25px 17px;
    display: block;
}
.main-navigation .active{
    /*border-bottom: 4px solid #fff;
    padding: 25px 17px 21px;*/
    position: relative;
}
.main-navigation .active a:hover{
    background: none;
    cursor: default;
}
.main-navigation .active::after{
    content: "";
    height: 4px;
    bottom:0;
    right:17px;
    left: 17px;
    position: absolute;
    background-color: #fff;
}
.main-navigation ul li a:hover{
    background-color: #242424;
}

.user-block{
    float: right;
    max-width: 140px;
    text-align: right;
    position: relative;
}
.login{
    padding: 25px 20px 25px 50px;
    display: inline-block;
    color: white;
    text-decoration: none;
    vertical-align: top;
    font-size:16px;
    line-height:20px;
}
.login::before{
    content: "";
    width: 18px;
    height: 18px;

    top: 28px;
    left: 20px;
    position: absolute;
    background: transparent url("../img/sprites.png") no-repeat;
    background-position:0 -211px;
    opacity: 0.3;
}
.login:hover::before{
    opacity:1;
}
.login:hover{
    background-color: #242424;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.index-logo{
    width: 368px;
    height: 204px;
    margin: 0 auto 25px;
}

.features{
    margin-bottom: 80px;
}
.features-item{
    float: left;
    width: 300px;
    text-align: center;
    margin-right: 20px;
    color: white;

}
.features-name{
    display: block;
    padding-bottom:35px;
    margin-bottom:30px;
    position: relative;
    font-size:30px;
    line-height: 42px;
}
.features-name::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    display: block;
    width: 20px;
    height: 20px;

    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.features-item:last-child{
    margin-right: 0px;
}

.features-item p{
    margin: 10px;
    margin-bottom: 0;
    font-size:14px;
}
.index-content{
    background: url("../img/column-delimiter.png") no-repeat center,
    #fff url("../img/content-background.jpg")
;
    padding: 50px 80px;
    margin-bottom: 35px;
    color: #000;
}
.index-content p{
    margin:0;
    font-size:14px;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom:25px;
}
.index-content-left{
    float: left;
    width: 380px;
}
.index-content-title{
    margin:0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
    text-transform: uppercase;
}
.news-preview{
    list-style: none;
    margin:0;
    padding:0;
    padding-right: 40px;
}
.news-preview li{
    margin-bottom: 30px;
}
.news-preview p{
    margin-bottom: 0;
}
.news-preview time{
    font-size:14px;
    font-weight: 400;
}
.index-content-right{
    float: right;
    width: 300px;
}
.btn{
    font-weight: 700;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    display: inline-block;
    background-color: #000;
    padding: 10px 34px;
    color: #fff;
    text-decoration: none;
    font-size:14px;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right:16px;
}
.btn:hover,
.btn:active{
    background-color: #663d15;
}
.btn.disabled,
 .btn:disabled{
     cursor: default;
     opacity:0.5;
 }
.btn.disabled:hover,
.btn:disabled:hover{
    background-color: #000;
}
.index-gallery{
    width: 300px;
    height:258px;
    position: relative;
}
.gallery-prev{
    position: absolute;
    bottom:0;
    left:0;
    padding-left:50px;
    padding-right:50px;
}
.gallery-next{
    position: absolute;
    bottom:0;
    right:0;
    margin:0;
    padding-left:50px;
    padding-right:50px;
}
.gallery-content{
    margin:0;
    width: 300px;
}
.gallery-content img{
    display: block;
    width: 286px;
    border: 7px solid #fff;
}
.index-contacts p{
    margin-bottom:35px;
}
.index-form{
    width: 300px;
    height: 252px;
}
.send-data-index{
    width: 100%;
    margin-right: 0;
    clear: both;
    margin-top:15px;
}
.appointment-form input {
    border: 2px solid #000;
    padding: 10px 0 10px 15px;
    width: 121px;
    float: left;
    margin: 0 20px 20px 0;
    background-color: #f9f6f3;
    outline: none;

    font-weight: 700;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size:14px;
}
.appointment-form input:focus{
    border: 2px solid #663d15;
}
.appointment-form input:nth-child(2n){
    margin-right:0;
    float: right;
}
.main-footer{
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 40px;
    background: #262626 url("../img/footer-background.jpg");
}
.main-footer a, .main-footer p{
    color: #ffffff;
    font-size:14px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    text-transform: uppercase;
    line-height: 24px;
}
.main-footer p{
    margin:0;
    margin-bottom:15px;
}
.footer-contacts{
    float: left;
    width: 320px;
    margin-right: 80px;
}

.footer-social{
    float: left;
    width: 150px;
    text-align: center;
}
.footer-social a:last-child{
    margin-right:0;
}
.social-btn{
    background: #000 url("../img/sprites.png") no-repeat;
    display: inline-block;
    width: 43px;
    height: 43px;
    margin:0;
    padding:0;
    margin-right:8px;
    vertical-align: top;
}
.social-btn:hover{
    background-color: #fff;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.social-btn-vk{
     background-position: 8px -824px;
 }
.social-btn-fb{
    background-position: 15px -547px;
}
.social-btn-inst{
    background-position: 11px -690px;
}
.social-btn-vk:hover{
    background-position: 8px -758px;
}
.social-btn-fb:hover{
    background-position: 15px -474px;
}
.social-btn-inst:hover{
    background-position: 11px -619px;
}
.footer-copyright{
    float: right;
    width: 140px;
    text-align: center;
}
.footer-copyright a:hover{
    background-color: white;
    color: black;

    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
/*внутренняя страница shop.html*/
.logo-inner{
    float: left;
    width: 150px;
    text-align: center;
    margin-top: 23px;
}
.catalog-main{
    padding-top:1px;
    padding-bottom: 65px;
    background: #fff url("../img/content-background.jpg") repeat;
}
.catalog-main h1{
    margin-top:45px;
    margin-bottom:20px;
}
.breadcrumbs{
    list-style: none;
    padding-left:0;
    margin-bottom: 55px;
    font-size:14px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    text-transform: uppercase;
}
.breadcrumbs li{
    display: inline-block;
    padding-right:35px;
    position: relative;
}
.breadcrumbs li::after{
    content: "";
    position: absolute;
    right:14px;
    top:5px;
    width: 7px;
    height: 7px;

    background-color: #000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.breadcrumbs li:last-child::after{
    width: 0px;
    height: 0px;
}
.breadcrumbs li span{
    color: #aba9a7;
}
.breadcrumbs li a{
    color: #000;
    text-decoration: none;
}
.breadcrumbs li a:hover{
    text-decoration: underline;
}
.main-content aside{
    float: left;
    width: 220px;
}
.main-content aside fieldset{
    border: none;
    margin:0;
    padding:0;
    margin-bottom:50px;
}
.main-content aside fieldset legend{
    font-size:24px;
    line-height:1;
    margin-bottom:30px;
}
.main-content aside ul{
    padding-left:0;
    margin:0;
}
.main-content aside ul li{
    list-style: none;
    font-size:14px;
    margin-bottom:17px;
}
.main-content aside ul li label{
    position: relative;
    padding-left: 40px;
}
.main-content aside ul li label:hover{
    color: #663d15;
    cursor: pointer;
}
input[type="checkbox"] + label::before{
    content: "";
    width: 20px;
    height: 20px;

    position: absolute;
    background: url("../img/sprites.png") 0 -70px no-repeat;
    left:0;

}

input[type="checkbox"]:checked + label::before{
    content: "";
    width: 20px;
    height: 20px;

    position: absolute;
    background: url("../img/sprites.png") 0 0 no-repeat,
    url("../img/sprites.png") 0 -70px no-repeat;
}
input[type="radio"] + label::before{
    content: "";
    width: 20px;
    height: 20px;

    position: absolute;
    background: url("../img/sprites.png") 0 -415px no-repeat;
    left:0;
}
input[type="checkbox"]:disabled + label::before{
    content: "";
    width: 20px;
    height: 20px;

    position: absolute;
    background: url("../img/sprites.png") 0 -70px no-repeat;
    left:0;
    opacity: 0.5;
    cursor: default;
}
input[type="checkbox"]:disabled + label{
    color: #ACAAA8;
    cursor: default;
}
input[type="checkbox"]:disabled + label:hover{
     color: #ACAAA8;
     cursor: default;
 }
input[type="radio"]:checked + label::before{
    content: "";
    width: 20px;
    height: 20px;

    position: absolute;
    background: url("../img/sprites.png") 0 -345px no-repeat;
    left:0;
}
.main-content aside ul li input[type="checkbox"],
.main-content aside ul li input[type="radio"] {
    display: none;
}
.catalog-products{
    float: right;
    width: 700px;
}
.catalog{
    margin-bottom: 25px;
}

.catalog-item{
    display: inline-block;
    vertical-align: top;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
    -moz-box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}
.catalog-item:hover{
    -webkit-box-shadow: 0 0 35px rgba(0, 1, 1, 0.3);
    -moz-box-shadow: 0 0 35px rgba(0, 1, 1, 0.3);
    box-shadow: 0 0 35px rgba(0, 1, 1, 0.3);
}
.catalog-item:nth-child(3n){
    margin-right: 0;
}
.product-details{
    padding:17px;
}
.title a, .title span{
    line-height:18px;

    font-size:14px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    text-transform: none;
    text-decoration: none;
    color: black;
}
.title span:hover{
    text-decoration: underline;
    color: #663d15;
}
.product-category{
    display: block;
}
.title{
    margin-bottom:15px;
}
.btn-shop{
    padding:13px 17px;
    margin-right:0;
    line-height:18px;
}
.price-shop{
    width: 110px;
    padding:13px 0;
    background-color: #E5E5E5;
    display: block;
    float: left;
    text-align: center;
    line-height:18px;
    font-size:14px;
}
.pagination{
    clear: both;
    list-style: none;
    padding: 0;
}

.pagination li{
    float: left;
    margin-right:7px;
}
.pagination li a{
    padding:11px 18px;
    background-color: #000;

    color: #ffffff;
    text-decoration: none;
    font-size:14px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
}
.pagination li a:hover{
    background-color: #663d15;
}
.pagination li a.pagination-active{
    background-color: #fff;
    color: black;
    cursor: default;
}
/*внутренняя страница item.html*/
.shop-item{
    padding-bottom: 65px;
}
.photos-item{
    width: 460px;
    float: left;
}
.info-item{
    float: right;
    width: 390px;
}
.main-photo{
    margin-bottom:20px;
    display: block;
}
.thumb-photo{
    margin-right: 20px;
    display:block;
    float:left;
    cursor: pointer;
}
.main-photo, .thumb-photo{
    -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
    -moz-box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}
.thumb-photo:last-child{
    margin-right: 0;
}
.info-item{
    font-size:14px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
}
.info-details{
    margin-bottom: 40px;

}
.existance{
    
}
.articul{
    float: right;
    color: #aeaeae;
}
.info-description{
    margin-bottom: 40px;
    line-height:24px;
}
.price-item{
    margin-bottom: 65px;
}
.content-list{
    list-style: none;
    padding:0;
    margin-bottom:0;
}
.content-list li{
    position: relative;
    padding-left: 20px;
    margin-bottom:20px;
    font-size:14px;
}
.content-list li:last-child{
    margin-bottom:0;
}
.content-list li::after{
    content: "";
    position: absolute;
    left:0;
    top:6px;
    width: 7px;
    height: 7px;

    background-color: #000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*
price*/
.big-heading{
    margin-bottom:70px;
    text-align: center;
}
.big-heading::after{
    content: "";
    display: block;
    border-bottom: 2px solid #000;

    position: relative;
    top:-25px;
    z-index:1;
}
.big-heading h2{
    position: relative;
    margin:0;
    font-size:48px;
    text-align: center;
    display: inline;
    line-height: 48px;
    padding:0 25px;
    z-index:2;
    background: #fff url("../img/content-background.jpg");
}
.price-services{
    margin-bottom:65px;
}
.price-services .left, .price-about-us .left{
     float: left;
     width: 380px;
 }
.price-services .right, .price-about-us .right{
    float: right;
    width: 460px;
}

.table-of-prices{
    border-collapse: collapse;
    border-spacing: 0;
    font-size:14px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
}
.table-of-prices, tr{
    width: 100%;
    border: 2px solid #000;
}
.table-of-prices td{
    width: 50%;
    border: 2px solid #000;
    text-align: center;
    padding: 10px 0;
}
td.name-of-service{
    text-align: left;
    padding-left:15px;
}
.price-about-us p{
    margin:0;
    font-size:14px;
    line-height:24px;
    width: 400px;
}

/*Modal window*/
.modal-content{
    width: 300px;
    margin-left:-230px;
    padding: 50px 80px;
    color: #000;
    background: #fff url("../img/content-background.jpg");

    position: fixed;
    top:120px;
    left:50%;

    box-shadow: 0 30px 50px rgba(0,0,0,0.7);
    z-index:20;
    display: none;

}
.modal-content-close{
    position: absolute;
    top:0;
    right:-34px;
    width: 22px;
    height:22px;

    font-size:0;
    background-color: transparent;
    border:0;
    outline: 0;
    cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after{
    content: "";
    position: absolute;
    top:10px;
    left:2px;

    width: 23px;
    height: 4px;
    background-color: #D1D1D1;
    border-radius:1px;
    /*border: 1px solid #000;*/
}
.modal-content-close::before{
     transform: rotate(45deg);
}
.modal-content-close::after{
    transform: rotate(-45deg);
}
.modal-content h2{
    margin:0;
    margin-bottom:20px;

    font-size:30px;
    line-height:42px;
}
.modal-content p{
    margin:0;
    margin-bottom:14px;
}
.modal-content .login-form{
    margin-top:30px;
    margin-bottom:10px;
}
.login-form input[type="text"],
.login-form input[type="password"]{
    font-size:14px;
    line-height:24px;
    color: #000;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;

    width: 236px;
    margin:0;
    margin-bottom:10px;
    padding:10px 20px;
    padding-right:40px;

    background-color: #F9F6F3;
    border: 2px solid #000;
    outline:none;
}
.login-form input:focus{
    border-color: #663d15;
}
.login-form input.icon-user{
    background-image: url("../img/sprites.png");
    background-repeat:no-repeat;
    background-position: 100% -891px;
}
.login-form input.icon-password{
    background-image: url("../img/sprites.png");
    background-repeat:no-repeat;
    background-position: 100% -264px;
}
.login-form .restore{
    float: right;
    color: #000;
}
.login-form .btn{
    width: 100%;
    margin-top:15px;
}
.login-checkbox{
    position: relative;
    padding-left:30px;
    cursor: pointer;
}
.login-checkbox input[type="checkbox"]{
    display: none;
}
.login-checkbox:hover{
    color: #663d15;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator{
     position: absolute;
     text-outline:-3px;
     left:0;

     width: 17px;
     height:17px;

     border: 2px solid #000;
 }
.login-checkbox input[type="checkbox"]:checked + 
.checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::after
{
    /*background-image: url("../img/sprites.png");
    background-position: -1px -1px;*/
    content: "";
    position: absolute;
    top:8px;
    left:1px;
    
    width: 15px;
    height:2px;
    background-color: #000;
}
.checkbox-indicator::before{
    transform: rotate(45deg);
}
.checkbox-indicator::after{
    transform: rotate(-45deg);
}

.modal-content-map{
    width: 766px;
    height:561px;
    background: #e9e5dc url("../img/map.jpg");
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-280px;
    margin-left: -383px;
    border: 7px solid #fff;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

    z-index:20;
    display: block;
}

.modal-overlay{
    position: fixed;
    top:0;
    left:0;
    z-index:10;
    
    width: 100%;
    height:100%;

    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
@keyframes bounce {
    0% { transform: translateY(-2000px);}
    70% { transform: translateY(30px);}
    90% { transform: translateY(-10px);}
    100% { transform: translateY(0px);}
}
.modal-content-show{
    display: block;
    animation: bounce 0.6s;
}

.overlay-content-show{
    display: block;
}

@keyframes mistake {
    0%, 100% { transform: translateY(0);}
    10%, 30%, 50%, 70%, 90% { transform: translateY(-10px);}
    20%, 40%, 60%, 80% { transform: translateY(10px);}
}
.modal-error{
    animation: mistake 0.6s;
}
