body{
    min-width: 960px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    text-transform: uppercase;
}
.index-main{
    background: #000 url(../img/bg-body.jpg) center top no-repeat;
    padding-top: 60px;
    padding-bottom: 65px;
}

.main-header{
    background-color: #000000;
    color: #ffffff;
}

.container{
    width:940px;
    padding: 0 10px;
    margin:0 auto;
}

.main-navigation{
    float: left;
    width: 780px;
}
.main-navigation ul{
    margin:0;
    padding:0;
    list-style: none;
    font-size:0;
}
.main-navigation ul li{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height:20px;
}
.main-navigation ul li a{
    color: white;
    text-decoration: none;
    padding: 25px 17px;
    display: block;
}
.main-navigation ul li a:hover{
    background-color: #242424;
}

.user-block{
    float: right;
    max-width: 140px;
    text-align: right;
    position: relative;
}
.login{
    padding: 25px 20px 25px 50px;
    display: inline-block;
    color: white;
    text-decoration: none;
    vertical-align: top;
    font-size:16px;
    line-height:20px;
}
.login::before{
    content: "";
    width: 18px;
    height: 18px;

    top: 28px;
    left: 20px;
    position: absolute;
    background: transparent url("../img/sprites.png") no-repeat;
    background-position:0 -211px;
    opacity: 0.3;
}
.login:hover::before{
    opacity:1;
}
.login:hover{
    background-color: #242424;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.index-logo{
    width: 368px;
    height: 204px;
    margin: 0 auto 25px;
}

.features{
    margin-bottom: 80px;
}
.features-item{
    float: left;
    width: 300px;
    text-align: center;
    margin-right: 20px;
    color: white;

}
.features-name{
    display: block;
    padding-bottom:35px;
    margin-bottom:30px;
    position: relative;
    font-size:30px;
    line-height: 42px;
}
.features-name::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    display: block;
    width: 20px;
    height: 20px;

    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.features-item:last-child{
    margin-right: 0px;
}

.features-item p{
    margin: 10px;
    margin-bottom: 0;
    font-size:14px;
}
.index-content{
    background: url("../img/column-delimiter.png") no-repeat center,
    #fff url("../img/content-background.jpg")
;
    padding: 50px 80px;
    margin-bottom: 35px;
    color: #000;
}
.index-content p{
    margin:0;
    font-size:14px;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom:25px;
}
.index-content-left{
    float: left;
    width: 380px;
}
.index-content-title{
    margin:0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
    text-transform: uppercase;
}
.news-preview{
    list-style: none;
    margin:0;
    padding:0;
    padding-right: 40px;
}
.news-preview li{
    margin-bottom: 30px;
}
.news-preview p{
    margin-bottom: 0;
}
.news-preview time{
    font-size:14px;
    font-weight: 400;
}
.index-content-right{
    float: right;
    width: 300px;
}
.btn{
    font-weight: 700;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    display: inline-block;
    background-color: #000;
    padding: 10px 34px;
    color: #fff;
    text-decoration: none;
    font-size:14px;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right:16px;
}
.btn:hover,
.btn:active{
    background-color: #663d15;
}
.btn.disabled,
 .btn:disabled{
     cursor: default;
     opacity:0.5;
 }
.btn.disabled:hover,
.btn:disabled:hover{
    background-color: #000;
}
.index-gallery{
    width: 300px;
    height:258px;
    position: relative;
}
.gallery-prev{
    position: absolute;
    bottom:0;
    left:0;
    padding-left:50px;
    padding-right:50px;
}
.gallery-next{
    position: absolute;
    bottom:0;
    right:0;
    margin:0;
    padding-left:50px;
    padding-right:50px;
}
.gallery-content{
    margin:0;
    width: 300px;
}
.gallery-content img{
    display: block;
    width: 286px;
    border: 7px solid #fff;
}
.index-contacts p{
    margin-bottom:35px;
}
.index-form{
    width: 300px;
    height: 252px;
}
.send-data-index{
    width: 100%;
    margin-right: 0;
    clear: both;
    margin-top:15px;
}
.appointment-form input {
    border: 2px solid #000;
    padding: 10px 0 10px 15px;
    width: 121px;
    float: left;
    margin: 0 20px 20px 0;
    background-color: #f9f6f3;
    outline: none;

    font-weight: 700;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size:14px;
}
.appointment-form input:focus{
    border: 2px solid #663d15;
}
.appointment-form input:nth-child(2n){
    margin-right:0;
    float: right;
}
.main-footer{
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 40px;
    background: #262626 url("../img/footer-background.jpg");
}
.main-footer a, .main-footer p{
    color: #ffffff;
    font-size:14px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    text-transform: uppercase;
    line-height: 24px;
}
.main-footer p{
    margin:0;
    margin-bottom:15px;
}
.footer-contacts{
    float: left;
    width: 320px;
    margin-right: 80px;
}

.footer-social{
    float: left;
    width: 150px;
    text-align: center;
}
.footer-social a:last-child{
    margin-right:0;
}
.social-btn{
    background: #000 url("../img/sprites.png") no-repeat;
    display: inline-block;
    width: 43px;
    height: 43px;
    margin:0;
    padding:0;
    margin-right:8px;
    vertical-align: top;
}
.social-btn:hover{
    background-color: #fff;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.social-btn-vk{
     background-position: 8px -824px;
 }
.social-btn-fb{
    background-position: 15px -547px;
}
.social-btn-inst{
    background-position: 11px -690px;
}
.social-btn-vk:hover{
    background-position: 8px -758px;
}
.social-btn-fb:hover{
    background-position: 15px -474px;
}
.social-btn-inst:hover{
    background-position: 11px -619px;
}
.footer-copyright{
    float: right;
    width: 140px;
    text-align: center;
}
.footer-copyright a:hover{
    background-color: white;
    color: black;

    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
/*внутренняя страница shop.html*/
.catalog-main{
    padding-bottom: 65px;
}
.breadcrumbs{
    margin-bottom: 55px;
}

.main-content aside{
    float: left;
    width: 220px;
}

.catalog-products{
    float: right;
    width: 700px;
}
.catalog{
    margin-bottom: 25px;
}

.catalog-item{
    float: left;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.catalog-item:nth-child(3n){
    margin-right: 0;
}
.pagination{
    clear: both;
}

.pagination li{
    float: left;
}

/*внутренняя страница item.html*/
.shop-item{
    padding-bottom: 65px;
}
.photos-item{
    width: 460px;
    float: left;
}
.info-item{
    float: right;
    width: 390px;
}
.main-photo{
    margin-bottom:20px;
}
.thumb-photo{
    margin-right: 20px;
    display:block;
    float:left
}
.thumb-photo:last-child{
    margin-right: 0;
}
.info-details{
    margin-bottom: 40px;
}
.info-description{
    margin-bottom: 40px;
}
.price p{
    display: inline;
}
.price{
    margin-bottom: 65px;
}